<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353681085866-pdds27u2i2qb592k3tjbag8sktp9tjnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353681085866-pdds27u2i2qb592k3tjbag8sktp9tjnp</string>
	<key>API_KEY</key>
	<string>AIzaSyDg3l8JbNSkAd1pYSZShM6-LB-a2TKV3g0</string>
	<key>GCM_SENDER_ID</key>
	<string>353681085866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pratham.martApp</string>
	<key>PROJECT_ID</key>
	<string>electric-mart</string>
	<key>STORAGE_BUCKET</key>
	<string>electric-mart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353681085866:ios:27e8083823b6ac8ed287d3</string>
</dict>
</plist>